@import "~antd/dist/antd.css";

.menu {
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: hidden;
  box-shadow: 0 0 30px #f3f1f1;
  background-color: white;
}
nav.menu {
  position: absolute !important;
}
.menu__logo {
  width: 150px;
  float: left;
  margin-left: -40px;
  margin-right: 20px;
}

.menu__logo a {
  display: inline-block;
  margin-top: -50px;
  margin-bottom: -70px;
}
.w-100 {
  width: 140% !important;
}

.menu__container .ant-menu-item {
  padding: 0px 5px;
}

.menu__container .ant-menu-submenu-title {
  padding: 0px 20px;
  color: #004aad;
}

.menu__container .ant-menu-item a,
.menu__container .ant-menu-submenu-title a {
  padding: 0px 15px;
  color: #004aad;
}

.menu__container .ant-menu-horizontal {
  border-bottom: none;
}

.menu__container .menu_left {
  float: left;
  padding: 15px 15px;
}

.menu__container .menu_rigth {
  float: right;
  padding: 15px 15px;
}

.menu__mobile-button {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 25px;
  display: none !important; /* use of important to overwrite ant-btn */
  background: #3e91f7;
}

.menu_drawer .ant-drawer-body {
  padding: 0 !important;
}

/* align header of Drawer with header of page */
.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
}

@media (max-width: 767px) {
  .menu__mobile-button {
    display: inline-block !important;
  }
  li.ant-menu-item {
    display: flex;
  }

  .menu_left,
  .menu_rigth {
    display: none;
  }
  .ant-menu-item > a {
    font-size: 15px;
    color: #004aad;
  }

  .menu__logo a {
    margin-left: -20px;
  }

  .menu__container .ant-menu-item,
  .menu__container .ant-menu-submenu-title {
    padding: 1px 20px;
    color: #004aad;
  }
  .menu__logo a {
    padding: 10px 20px;
  }
  li.ant-menu-item {
    padding-top: 10px !important;
  }
  .ant-badge-count,
  .ant-badge-dot,
  .ant-badge .ant-scroll-number-custom-component {
    transform: translate(140%, -50%);
    transform-origin: 100% 0%;
  }
  .ant-menu ul,
  .ant-menu ol {
    margin: -13px;
    padding: 0px;
    list-style: none;
  }
}
